/* ===== HEADER AREA ===== */
.profile-header {
  height: 180px;
  background-color: #0d0d0d;
  background-size: cover;
  background-position: center;
}

/* ===== FOTO PROFIL ===== */
.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #000;
  margin-top: -60px;
  background-color: #ddd;
  object-fit: cover;
}

/* ============================================
   MODE LIGHT (tulisan hitam)
============================================ */

/* username */
body.light .username {
  color: #000 !important;
}

/* text lain */
body.light .profile-page-text,
body.light p,
body.light h4 {
  color: #000 !important;
}

/* tombol edit profile */
body.light .btn-outline-light {
  color: #000 !important;
  border-color: #555 !important;
}



/* ============================================
   MODE DARK (tulisan putih/abu)
============================================ */

body.dark .username {
  color: #ccc !important;
}

body.dark .profile-page-text,
body.dark p,
body.dark h4 {
  color: #fff !important;
}

body.dark .btn-outline-light {
  color: #fff !important;
  border-color: #ddd !important;
}

/* Border foto */
body.light .profile-picture {
  border-color: #fff;
}
body.dark .profile-picture {
  border-color: #000;
}

body.light .text-muted {
  color: #555 !important;  
}

/* MODE DARK */
body.dark .text-muted {
  color: #bbbbbb !important; 
}